# Python bytecode:
*.py[co]

# Packaging files:
*.egg*
dist

# Editor temp files:
*.swp
*~

# Any unwanted build directories:
build

# SQLite3 database files:
*.db
*.sqlite3

.idea
.htaccess
.DS_Store
.sass-cache
config.txt

.vagrant/
Vagrantfile
*.psql
